.title{
  text-align: center;
  font-family: 'Caesar Dressing', cursive;
  color: white;
  font-size: 4em;
  letter-spacing: 3px;
  margin: 5px 0;
}

.containerNumbers{
  justify-content: center;
  margin: 20px;
  align-items: center;
  font-size: 25px;
  text-align: center;
}

.menuNumbers{
    font-size:2em;
    margin-right:20px;
}

.labelNumbers{
  margin: 10px;
}

input{
  border: 5px solid white;
  color: #FC4A1A;;
  font-size: 40px;
  font-family: 'Caesar Dressing', cursive;
  margin-bottom: 20px;
  width: 180px;
  height: 70px;
  text-align: center;
}

.button{
  border: 5px solid white;
  background-color: yellow;
  color: #FC4A1A;
  font-size: 35px;
  font-family: 'Caesar Dressing', cursive;
}

#textError{
  color: white;
  font-size: 2rem;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.fade-in{
  animation: fadein 0.8s;
}

.fade-in2{
  animation: fadein2 0.8s;
}

/*MODAL*/

.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  font-family: 'Caesar Dressing';
  display: none;
  transition: all 0.5s;
}

.win{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border: 8px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dino{
  width:20%;
  margin-left: 30PX;
}

.dino-gif{
  width: 100%;
}

.modal-text{
  width: 60%;
}

.congrats{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.score-game1{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.reset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reset a{
  color: black;
  font-size: 18px;
}

.reset img{
  width: 80px;
}

/*POP-UP NUMBER*/

.pop-up{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window{
  width: 450px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 20%;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
  border: 10px solid yellow;
}

.window p{
  margin: 0px;
}

.instructions{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Caesar Dressing', cursive;
  color: yellow;
}
.rules{
  font-weight: bold;
  font-size: 15px;
}
.poprInstr{
  font-size: 15px;
  color: black;
}

.containerRules{
  font-size: 15px;
}

.button-instructions{
  display: flex;
  background-color: rgba(255,255,0,0.8);
}

.button1{
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  text-shadow: 5px solid black;
}


/*@Medias  Begining----------------------------------*/

@media (min-width: 480px) and (max-width: 780px) {
  main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .game1, .game2, .game3{
    font-size: 10px;
  }
  h2{
    font-size: 15px;
  }
  .rowCards{
    flex-direction: column;
  }
  .imgCards{
      width:70%;
  }
}

@media (max-width: 480px) {
  main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .game1, .game2, .game3{
    font-size: 10px;
  }
  .rowCards{
    flex-direction: column;
  }
  .imgCards{
      width:100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*POP-UP NUMBER*/
.watchInst{
  font-family: 'Caesar Dressing', cursive;
  width: 150px;
  background: rgba(255,255,255,0.7);
  padding-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-shadow: 2px solid black;
  margin: 0 auto;
  text-align: center;
}

.watchInst:hover{
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
}

.watchInst img{
  width: 50%;
  margin-bottom: -20px;
}
.pop-up{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.window{
  width: 450px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
  border: 10px solid yellow;
}
.window p{
  margin: 0px;
}
.instructions{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Caesar Dressing', cursive;
  color: black;
}
.rules{
  font-weight: bold;
  font-size: 15px;
}
.poprInstr{
  font-size: 15px;
  color: black;
}
.containerRules{
  font-size: 15px;
}
.buttonInstructions{
  display: flex;
  background-color: black;
}
.button1{
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  text-shadow: 5px solid black;
}
.buttonInstructions:hover{
  box-shadow: 0px 5px 33px -11px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.9);
  cursor: pointer;
}

@media (max-width: 780px) {
  .title{
    font-size: 30px;
  }
}
