.title{
  text-align: center;
  font-family: 'Caesar Dressing';
  color: white;
  font-size: 4em;
  letter-spacing: 3px;
  margin: 5px 0;
}

.game{
  background-color: rgba(255,255,255,0.7);
  width: 70%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 28px;
}

.button-submit{
  border: 5px solid white;
  background-color: yellow;
  color: #FC4A1A;
  font-size: 35px;
  font-family: 'Caesar Dressing', cursive;
  width: 200px;
  align-self: center;
  margin-top: 10px;
  cursor: pointer;
}

.margin-bottom{
  margin-bottom: 8px;
}

/*MODAL*/

.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  font-family: 'Caesar Dressing';
  display: none;
  transition: all 0.5s;
}

.win{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border: 8px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dino{
  width:20%;
  margin-left: 30PX;
}

.dino-gif{
  width: 100%;
}

.modal-text{
  width: 60%;
}

.congrats{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

.score-game3{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.reset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.reset a{
  color: black;
  font-size: 18px;
}

.reset img{
  width: 80px;
}

/*POP UP*/

.watchInst{
  font-family: 'Caesar Dressing', cursive;
  width: 150px;
  background: rgba(255,255,255,0.7);
  padding-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-shadow: 2px solid black;
  margin: 0 auto;
  text-align: center;
}

.watchInst:hover{
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 33px -11px rgba(0,0,0,0.75);
}

.watchInst img{
  width: 50%;
  margin-bottom: -20px;
}
.pop-up{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.window{
  width: 450px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
  border: 10px solid yellow;
}
.window p{
  margin: 0px;
}
.instructions{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Caesar Dressing', cursive;
  color: black;
}
.rules{
  font-weight: bold;
  font-size: 15px;
}
.poprInstr{
  font-size: 15px;
  color: black;
}
.containerRules{
  font-size: 15px;
}
.buttonInstructions{
  display: flex;
  background-color: black;
}
.button1{
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  text-shadow: 5px solid black;
}
.buttonInstructions:hover{
  box-shadow: 0px 5px 33px -11px rgba(0,0,0,0.75);
  background-color: rgba(0,0,0,0.9);
  cursor: pointer;
}
