*{
  box-sizing: border-box;
  transition: all 0.5s;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4ABDAC;
  margin: 0;
  font-family: 'Passion One', sans-serif;
  font-size: 15px;
}

a{
  text-decoration: none;
}

.header{
  width: 100%;
  height: 80px;
  background-color: rgba(255,255,255,0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo{
  width: 140px;
}

.menu{
  color: black;
  transition: all 0.5s;
  text-transform: uppercase;
}

.menu:hover{
  color: rgba(0,0,0,0.5);
}

.main{
  width: 100%;
}

.footer{
  background-color: rgba(255,255,0,0.8);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright{
  color: rgba(0,0,0,0.9);
}

.footer-link{
  color: rgba(0,0,0,0.6);
  transition: all 0.5s;
}

.footer-link:hover{
  color: rgba(0,0,0,0.3);
}
